{% extends 'base.html' %}

{% block content %}
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 upload-page">

                    <div class="u-area">
                        <i class="cv cvicon-cv-upload-video"></i>

                        <p class="u-text1">Выберите aa видеофайлы для загрузки</p>
                        <p class="u-text2">или перетащите видеофайлы</p>

                        <form action="#" method="post">

                            <button class="btn btn-primary u-btn">Загрузить видео</button>
                        </form>
                    </div>

                    <div class="u-terms">
                        <p>Отправляя свои видеоролики circle, вы подтверждаете, что согласны с <a href="#">Условиями
                            предоставления услуг</a> и <a href="#">Правилами сообщества</a>.</p>
                        <p class="hidden-xs">Пожалуйста, следите за тем, чтобы не нарушать авторские права других лиц
                            или права на неприкосновенность частной жизни. Узнать больше</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}